
.newpost_title{
  width: 40%;
  font-size: 25px;
  display: block;
}

.newpost_placeholder{
  width: 60%;
  
}
input[type="text"]{
  width: 500px;
  height: 50px;
}


.newpost_content{
  width: 40%;
  font-size: 25px;
  display: block;
}

.newpost_placeholder{
  width: 60%;
  display: block;
}
#post_content{
  width: 500px;
  height: 300px;
}


input[type="submit"]{
  width: 200px;
  height: 100px;
  margin: 40px auto;
}
#form_btn{
  height: 50px;
  border-radius: 10px;
  background-color: rgb(68, 243, 33);
}