.content
  .content__title
    スレッド一覧

.posts
  %dl.post_dl
    %dt.post__title タイトル
    %dd.post__day 投稿日
    %dd.post__name 投稿者
- @posts.each do |post|
  %dl
    %dt.post_index_title
      = post.title
    %dd.post_index_day
      = post.created_at
    %dd










      -# - @posts.each do |post|
-#   .post
-#     .post__left
-#       = post.title
-#     .post__right
-#       = post.created_at